@import url("https://fonts.googleapis.com/css2?family=Andika:wght@700&display=swap");
.allcontent {
  display: flex;
  background-color: #efede0;
}
.profile {
  background-color: #8aa899;
  justify-content: center;
  width: 450px;
  height: 800px;
  padding-top: 7%;
}
.profile img {
  height: 270px;
  width: 270px;
}

.text h3 {
  display: block;
  font-family: "Harmattan", sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: #f1bc20;
}

.profile .text p {
  font-family: "Harmattan", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #000000;
}

.copyright p {
  font-family: "Harmattan", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #000000;
  padding: 10px 0;
}

#lasttext p {
  font-family: "Harmattan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.text .copyright p {
  font-family: "Harmattan", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}
.links a {
  margin: 0 10px;
}

.text .links {
  display: flex;
  justify-content: center;
  column-gap: 1px;
  margin-bottom: 20px;
}
.links img {
  width: 25px;
  height: 25px;
}

.resume {
  padding-top: 2rem;
  margin-left: 3rem;
  width: 100%;
  padding-right: 1rem;
  border-left: 20px solid #f1bc20;
  background-color: #fff;
}
.resume h1 {
  color: #5c6e58;
  font-family: "Andika", sans-serif;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 1rem;
}
.profile .text {
  width: 100%;
  padding: 0 3rem;
}
.profile {
  height: 100%;
}

.pair {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.left {
  width: 40%;
  text-align: right;
}
.right {
  width: 100%;
  text-align: left;
  margin-left: 2rem;
}
.skills {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 25% 25% 25%;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
}

.left h2 {
  font-size: 20px;
  font-weight: 500;
  color: #f1bc20;
  font-family: "Harmattan", sans-serif;
}
.right h3 {
  font-size: 20px;
  font-weight: 500;
  color: #f1bc20;
  font-family: "Harmattan", sans-serif;
}
.right p {
  margin: 0;
  font-family: "Harmattan", sans-serif;
}
.right h4 {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
  font-family: "Harmattan", sans-serif;
}
.right h6 {
  margin-top: 10px;
  color: #000;
  margin-bottom: 2rem;
  font-size: 18px;
  font-weight: 400;
  font-family: "Harmattan", sans-serif;
}
.right span {
  border-left: 2px solid #f1bc20;
  padding-left: 5px;
  font-weight: 400;
}
.resume #phoneno {
  margin-bottom: 3rem;
}
.resume #email {
  color: #f1bc20;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .resume {
    margin-left: 20px;
    width: 100%;
    padding-left: 0;
    border-left: 0;
  }
  .pair {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .left {
    width: 50%;
    text-align: center;
    padding-left: 10px;
  }
  .right {
    width: 100%;
    text-align: start;
    margin-left: 0;
  }
  .skills {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 40% 40%;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
  }
  .left h1 {
    font-size: 30px;
    font-weight: 500;
  }
  .left h2 {
    font-size: 25px;
    font-weight: 500;
  }
  .left h3 {
    font-size: 20px;
    font-weight: 500;
  }
  .right h3 {
    font-size: 25px;
    font-weight: 500;
  }
  .right h4 {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 600;
  }
  .right h6 {
    margin-bottom: 2rem;
    font-size: 18px;
    font-weight: 400;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .profile {
    padding-right: 0;
    margin-right: 0;
    width: 100%;
  }
  .profile .text {
    text-align: center;
  }
  .allcontent {
    display: block;
  }
  .resume {
    margin-left: 0;
    width: 100%;
    padding-left: 0;
    border-left: 0;
  }
  .pair {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .left {
    width: 50%;
    text-align: center;
  }
  .right {
    width: 100%;
    text-align: start;
    margin-left: 0;
  }
  .skills {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 40% 40%;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
  }
  .left h1 {
    font-size: 32px;
    font-weight: 500;
  }
  .left h2 {
    font-size: 27px;
    font-weight: 500;
  }
  .left h3 {
    font-size: 20px;
    font-weight: 500;
  }
  .right h3 {
    font-size: 25px;
    font-weight: 500;
  }
  .right h4 {
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 600;
  }
  .right h6 {
    margin-bottom: 2rem;
    font-size: 22px;
    font-weight: 400;
  }
}

@media (max-width: 576px) {
  .profile {
    padding-right: 0;
    margin-right: 0;
    width: 100%;
  }
  .allcontent {
    display: block;
  }
  #about {
    display: none;
  }
  .resume {
    margin-left: 0;
    width: 100%;
    padding-left: 10px;
    border-left: 0;
  }
  .pair {
    display: block;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .left {
    width: 50%;
    text-align: start;
  }
  .right {
    width: 100%;
    text-align: start;
    margin-left: 10px;
  }
  .skills {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 40% 40%;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
  }
  .left h1 {
    font-size: 30px;
    font-weight: 500;
  }
  .left h2 {
    font-size: 20px;
    font-weight: 500;
  }
  .left h3 {
    font-size: 20px;
    font-weight: 500;
  }
  .right h3 {
    font-size: 20px;
    font-weight: 500;
  }
  .right h4 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .right h6 {
    margin-bottom: 2rem;
    font-size: 18px;
    font-weight: 400;
  }
}
