@import url("https://fonts.googleapis.com/css2?family=Moul&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/* #allcontent {
  position: relative;
} */

#imagetext {
  display: flex;
  text-align: start;
  background-image: url(../../images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#imagetext img {
  margin: 0 3rem;
  width: 450px;
}
.text h1 {
  padding-top: 0;
  margin-top: 0;
  font-family: "Moul", cursive;
  font-size: 95px;
  letter-spacing: 2%;
  color: #5c6e58;
}
.text p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 0;
}
#imagetext .text p {
  padding-right: 6rem;
  font-size: 18px;
}

.text {
  width: 100%;
  margin-top: 10%;
  /* padding: 0 5rem; */
}
#hello {
  text-align: end;
  margin-right: 15rem;
  margin-bottom: 0;
}

#allcontent button {
  border-width: 2px;
  font-weight: 500;
  margin-top: 1rem;
  padding: 10px 1rem;
  font-weight: 600;
}

@media (min-width: 768px) and (max-width: 1199px) {
  #imagetext .text p {
    padding-right: 2rem;
    font-size: 15px;
  }

  #imagetext img {
    margin: 0 5px;
    width: 290px;
  }
  .text h1 {
    font-size: 55px;
  }
  .text p {
    font-size: 13px;
  }
  #hello {
    text-align: end;
    margin-right: 10rem;
    margin-bottom: 0;
  }

  .text {
    margin-top: 5%;
    padding: 0 1rem;
  }
  #allcontent button {
    border-width: 2px;
    font-weight: 500;
    margin-bottom: 1rem;
    padding: 5px 15px;
    font-weight: 600;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #imagetext .text p {
    padding-right: 0;
  }
  #imagetext img {
    display: none;
  }
  #imagetext {
    display: inline;
    text-align: start;
    padding: 1rem 0;
  }
  .text h1 {
    padding-top: 0;
    margin-top: 0;
    font-size: 30px;
    letter-spacing: 0;
    color: #5c6e58;
  }
  .text p {
    font-size: 13px;
    letter-spacing: 4%;
    font-weight: 0;
  }
  .text {
    margin-top: 5%;
    padding: 0;
  }
  #hello {
    padding-top: 2rem;
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;
  }
  #allcontent .text {
    text-align: center;
    padding: 0 10px;
    background-image: url(../../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #allcontent button {
    border-width: 2px;
    margin-top: 1rem;
    padding: 5px 10px;
    font-weight: 500;
    margin-bottom: 3rem;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  #imagetext .text p {
    padding-right: 0;
  }
  #imagetext img {
    display: none;
  }
  #imagetext {
    display: inline;
    text-align: start;
    padding: 1rem 0;
  }
  .text h1 {
    padding-top: 0;
    margin-top: 0;
    font-family: "Moul", cursive;
    font-size: 30px;
    letter-spacing: 0;
    color: #5c6e58;
  }
  .text p {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    letter-spacing: 4%;
    font-weight: 0;
  }
  #hello {
    padding-top: 2rem;
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;
  }
  #allcontent .text {
    text-align: center;
    padding: 0 10px;
    background-image: url(../../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #allcontent button {
    border-width: 2px;
    margin-top: 1rem;
    padding: 5px 10px;
    font-weight: 500;
    margin-bottom: 3rem;
    font-size: 12px;
  }
}
