@import url("https://fonts.googleapis.com/css2?family=Moul&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika:wght@700&display=swap");

#allcontent {
  padding-top: 3rem;
  width: 100%;
  height: 100%;
}
#imagetext {
  display: flex;
  text-align: start;
  background-image: url(../../images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
#imagetext img {
  margin: 0 3rem;
  width: 420px;
}
.text h1 {
  padding-top: 0;
  margin-top: 0;
  font-family: "Moul", cursive;
  font-size: 70px;
  color: #5c6e58;
}
#imagetext h5 {
  font-family: "Harmattan", sans-serif;
  font-size: 25px;
}

#imagetext .text {
  width: 100%;
  margin-top: 10%;
}
#socials {
  display: flex;
}

#socials img {
  margin: 30px 10px;
  width: 25px;
  height: 25px;
}
#socials img:hover {
  margin: 20px 5px;
  width: 35px;
  height: 35px;
}

#allcontent button {
  font-family: "Harmattan", sans-serif;
  border-width: 2px;
  font-weight: 500;
  margin-top: 1rem;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 25px;
  color: #5c6e58;
}

.button {
  border-radius: 4px;
  background-color: #5c6e58;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #ffffff;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.tyewriter {
  justify-content: start;
  margin-top: 0;
  font-family: "Harmattan", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #000;
}

@media (min-width: 768px) and (max-width: 1000px) {
  #imagetext .text p {
    padding-right: 2rem;
    font-size: 15px;
  }
  #imagetext img {
    margin: 0;
    width: 360px;
  }

  .text h1 {
    font-size: 55px;
  }

  .text {
    margin-top: 2%;
    padding-left: 1rem;
  }

  #socials img {
    margin: 30px 10px;
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #imagetext .text {
    margin: auto;
    padding-right: 0;
    height: 70vh;
  }
  .text h5 {
    padding-top: 10%;
  }
  #tewoPhoto {
    display: none;
  }
  #imagetext {
    margin: auto;
    display: inline;
    text-align: start;
  }
  .text h1 {
    font-family: "Moul", cursive;
    font-size: 55px;
    letter-spacing: 0;
    color: #5c6e58;
    text-align: center;
  }
  #socials {
    justify-content: center;
  }

  #allcontent .text {
    text-align: center;
    padding: 0 10px;
    background-image: url(../../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 576px) {
  body {
    width: 100%;
  }
  #imagetext .text {
    margin: auto;
    padding-right: 0;
    height: 70vh;
  }
  .text h5 {
    padding-top: 20%;
  }
  #tewoPhoto {
    display: none;
  }
  .text h1 {
    font-size: 50px;
    letter-spacing: 0;
    color: #5c6e58;
    text-align: center;
  }
  #socials {
    justify-content: center;
  }

  #allcontent .text {
    text-align: center;
    background-image: url(../../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
