@import url("https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika:wght@700&display=swap");

.portfolio {
  background-color: #efede0;
  padding-top: 4rem;
}
.portfolio h1 {
  font-family: "Andika", sans-serif;
  color: #ad4328;
  font-size: 50px;
  font-weight: 700;
  padding: 10px 0;
}

.cards {
  font-family: "Harmattan", sans-serif;
  font-size: 1.2rem;
  justify-content: center;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 3rem;
  row-gap: 3rem;
  padding: 1rem 1rem 4rem;
}
.card a {
  font-family: "Harmattan", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #ad4328;
}
.card {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: start;
  position: static;
}
.card-body h4 {
  font-family: "Andika", sans-serif;
}

.card:hover span:after {
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: start;
  position: static;
}
a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #ad4328;
}

a span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
a:hover span {
  padding-right: 25px;
}
a:hover span:after {
  opacity: 1;
  right: 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .cards {
    grid-template-columns: 45% 45%;
    column-gap: 3rem;
    row-gap: 3rem;
  }
  .card {
    margin-bottom: 4rem;
    text-align: start;
  }
  .profile {
    width: 600px;
    height: 100%;
    padding-top: 5%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .cards {
    justify-content: center;
    display: block;
  }
  .card {
    margin: 0 2rem 4rem;
  }
}

@media (max-width: 576px) {
  .cards {
    justify-content: center;
    display: block;
  }
  .card {
    margin: 0 1rem 3rem;
  }
}
