#navbarNav {
  justify-content: end;
}
.imagediv img {
  width: 3rem;
  height: 3rem;
}

.navbar-nav a {
  color: #333333;
  font-size: larger;
  font-weight: 500;
  margin-left: 1rem;
}

.collapse button {
  color: #333333;
  border-color: #333333;
  border-width: 2px;
  margin: 0 1rem;
  font-weight: 500;
}
.navbar {
  background-color: #efede0;
}
@media (max-width: 576px) {
  .collapse button {
    border-width: 1px;
    margin: 0 1rem;
    font-weight: 400;
  }
  .navbar-nav a {
    font-size: medium;
    font-weight: 500;
    margin-left: 1rem;
    font-weight: 400;
  }
}
