@import url("https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&display=swap");

#footer {
  font-family: "Harmattan", sans-serif;
  display: flex;
  justify-content: space-around;
  background-color: #8aa899;
  padding: 2rem 10rem;
  text-align: start;
}
#middle {
  border-left: 1px solid #ffff;
  border-right: 1px solid #ffff;
  padding: 0 3rem;
}
h6 {
  font-family: "Andika", sans-serif;
  color: #ad4328;
  font-size: 20px;
  font-weight: 600;
}
#footer p {
  color: #ffff;
  font-size: 20px;
}
.mobile {
  display: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
  #footer {
    padding: 1.5rem 10rem;
  }
  h6 {
    font-family: "Andika", sans-serif;
    color: #ad4328;
    font-size: 19px;
    font-weight: 600;
  }
  #footer p {
    color: #ffff;
    font-size: 18px;
  }
  .mobile {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #footer {
    display: flex;
    padding: 1.5rem 0;
    text-align: start;
    justify-content: start;
  }
  .mobile {
    display: block;
    justify-content: start;
    padding-left: 1rem;
  }
  .title {
    display: none;
  }
  .icontext {
    display: flex;
    margin: 20px 0;
  }
  .icontext p {
    margin: 0;
  }
  .icontext img {
    margin-right: 2rem;
  }
  .mobile h6 {
    text-transform: uppercase;
    font-family: "Andika", sans-serif;
    color: #ad4328;
    font-size: 18px;
  }
  #footer .mobile p {
    color: #ffff;
    font-size: 16px;
  }
  #footer {
    padding: 8px 0rem;
  }
}

@media (max-width: 576px) {
  #footer {
    display: flex;
    padding: 15px 0;
    text-align: start;
    justify-content: start;
  }
  .mobile {
    display: block;
    justify-content: start;
    padding-left: 1rem;
  }
  .title {
    display: none;
  }
  .icontext {
    display: flex;
    margin: 20px 0;
  }
  .icontext p {
    margin: 0;
  }
  .icontext img {
    margin-right: 2rem;
  }
  .mobile h6 {
    text-transform: uppercase;
    font-family: "Andika", sans-serif;
    color: #ad4328;
    font-size: 18px;
  }
  #footer .mobile p {
    font-family: "Harmattan", sans-serif;
    color: #ffff;
    font-size: 17px;
  }
  #footer {
    padding: 8px 0rem;
  }
}
