#footer {
  display: flex;
  justify-content: space-around;
  background-color: #8aa899;
  padding: 3rem 10rem;
  text-align: start;
}
#middle {
  border-left: 1px solid #ffff;
  border-right: 1px solid #ffff;
  padding: 0 3rem;
}
h6 {
  color: #f1bc20;
  font-size: 20px;
}
#footer p {
  color: #ffff;
  font-size: 15px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  #footer {
    padding: 2rem 7rem;
    text-align: start;
  }
  #middle {
    padding: 0 3rem;
  }
  h6 {
    font-size: 17px;
  }
  #footer p {
    font-size: 12px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #footer {
    padding: 13px 1rem;
    text-align: start;
  }
  #middle {
    padding: 0 2rem;
  }
  h6 {
    font-size: 14px;
  }
  #footer p {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  #footer {
    padding: 13px 0;
    text-align: start;
  }
  #middle {
    padding: 0 1rem;
  }
  h6 {
    font-size: 13px;
  }
  #footer p {
    font-size: 10px;
  }
}
